</main>
    <footer>
       <section id="footer">
        <hr class="footer-partition-line">
        <div class="copyright-claim d-flex justify-content-center">
            @Copyright <%= locals.current_year %>
        </div>
       </section>
    </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>